<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MHC Math/Stat/DS Lunches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap.css" media="screen">
		<script src="./scripts/jquery-3.3.1.slim.min.js"></script>
		<script src="./scripts/popper.min.js"></script>
		<script src="./scripts/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand">Mount Holyoke College Math/Stat/DS Lunches</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.mtholyoke.edu/acad/math">MHC Math</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


<div class="container">
<br>
<br>
<br>
<div class="col-lg-12">
<div class="bs-component">
<div id="accordion" role="tablist" aria-multiselectable="true">

<!-- ALL-CARDS -->

<h5 style="text-align:center;"><a class="fixed-bottom" href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a><h5>

</body>
</html>
